body{
    font-family: 'Mulish', sans-serif;
}

h1,h2{
    font-family: 'Open Sans', sans-serif;
}

h2{
    color:#C8C8C8;
}

.caps-formated {
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

.panel-year-chart {
    width:75%;
    height: 70vh;
}

.panel-top-artists {
    width:25%;
    height: 60vh;
}

.panel-top-albums {
    width:75%;
    height: 60vh;
}
