body{
    font-family: 'Mulish', sans-serif;
}

h1,h2{
    font-family: 'Open Sans', sans-serif;
}

.caps-formated {
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel-year-chart {
    width:69%;
    height: 0vh;
}

.panel-top-artists {
    width:29%;
    height: 60vh;
}

.panel-top-albums {
    width:69%;
    height: 60vh;
}
