body{
    font-family: 'Mulish', sans-serif;
}

.description{
    text-align: justify;
    text-justify: inter-word;
    margin-top: 8vh;
    width:49vw;
    margin-left: 1vw;
}

h1,h2{
    font-family: 'Open Sans', sans-serif;
}

.question{
    font-weight: bolder;
    text-indent: 0px;
    font-family: 'Open Sans', sans-serif;
}

h2{
    color:#C8C8C8;
}

pre{
}

.navbar {
    margin: auto;
    display: block;
    text-align:right;
}

.navbar-element {
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    margin-right:1vw;
    margin-left:1vw;
    display:inline;
}

.navbar-element a {
    color:#C8C8C8;
    text-decoration: none;
}

.navbar-element a:hover {
    color:black;
}

.navbar-element:hover {
    color: black;
}

.navbar-element-main {
    color:black;
}


.caps-formated {
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

.panel-year-chart {
    width:75%;
    height: 70vh;
}

.panel-top-artists {
    width:25%;
    height: 60vh;
}

.panel-top-albums {
    width:75%;
    height: 60vh;
}

#file{
    display:none;
}

#save-message{
	text-align:right;
	margin:5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
